// import colors
@use "../colors/colors" as *;

// Slick slider customizations
.slick-slider {
  width: 100%;
  padding: 20px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid $primary-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
