// Color Variables
$background-color: #ffffff;
$product-background: #f2f0f1;
$primary-color: #ff6600;
$secondary-color: #009975;
$text-color: #000000;
$text-color-white: #ffffff;

$background-card: #f0eeed;
