// importing colors
@use "../colors/colors" as *;

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.2s ease;

  img {
    max-width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1rem;
    margin: 0 0 6px 0;
  }

  p {
    font-size: 0.85rem;
    color: #666;
    text-align: center;
  }

  &:hover {
    transform: scale(1.05);
  }
}
